@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-clay: #e8e2d7;
  --color-arancia: #ff6f07;
  --color-charcoal: #1d1d1d;
  --font-mona: var(--font-mona);
  --font-pixel: var(--font-pixel);
  --animation: gradient 8s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  @apply text-4xl mt-12 pb-4 font-mona font-semibold;
}

h2 {
  @apply text-2xl pt-4 mb-0 font-mona font-semibold border-none;
}

h3 {
  @apply text-xl font-mona pt-4 font-semibold border-none;
}

h4 {
  @apply text-[16px] font-mona font-semibold border-none ;
}

p {
  @apply my-4;
}

@layer utilities {
  .page-px {
    @apply px-24;
  }
}
