@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --font-mona: var(--font-mona);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

@layer utilities {
  .page-px {
    @apply px-10;
  }
}
